<h2><%= @restaurant.name %></h2>
<body><%= @restaurant.description %><%= @restaurant.capacity %></body>


<%= form_for([@restaurant, @reservation]) do |f| %>
  <div class="field">
    <%= f.label :Time_of_Reservation %><br />
    <%= f.date_select :time %>
  </div>
  <div class="field">
    <%= f.label :Party_Size %><br />
    <%= f.number_field :party_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



